body {
}

canvas{
    width: 400px;
    height: 400px;
}

.rotating-circle-container{
    width: 400px;
    height: 500px;
    top: 10%;
    position: absolute;
}

.wide {
  width:109.2%;
  height:650px;
  background-image:url('^0831492A5533CE59710386C71333205ED0CA4E4F169DBA4355^pimgpsh_fullsize_distr.jpg');
  background-size: cover;
  position: relative;
}
