body {
}

canvas{
    width: 400px;
    height: 400px;
}

.rotating-circle-container{
    width: 400px;
    height: 500px;
    top: 10%;
    position: absolute;
}

.wide {
  width:109.2%;
  height:650px;
  background-size: cover;
  position: relative;
}

#profile-contact{
    margin-left: -5%;
}
