<div class="wrapper">
    <div class="rotating-circle-container hidden-xs">
        <canvas id="textPresentCanvas"></canvas>
    </div>
    <img class="wide" src="~/Images/Hand-Shake.png" />
</div>

@section scripts{
    <script src="~/Scripts/AnimateHomePageSitePresentation.js"></script>
}