<div class="container">
    <div class="rotating-circle-container hidden-xs row">
        <canvas id="textPresentCanvas"></canvas>
    </div>
    <img class="wide" />
</div>

@section scripts{
    <script src="~/Scripts/animate-home-page-site-presentation.js"></script>
}