<div class="container">
    <br />
    <br />
    <div id="profile-contact" class="row">
        <div class="col-lg-2">
            <img class="img-thumbnail img-responsive profile-image" src="~/Images/noUserImg.png" />
        </div>
        <div id="contact" class="col-sm-1 alert alert-dismissible alert-success">
            <div class="row">
                a
            </div>
            <div class="row">
                bbbb
            </div>
            <div class="row">
                vv
            </div>
        </div>
    </div>
</div>
